{{define "title"}}Train info{{end}}

{{define "file" }}traininfo{{end}}
{{define "headContent"}}
{{end}}
{{define "footerContent"}}
{{end}}

{{define "main" }}
    <form action="/watch/add" method="POST">
        <div class="mb-3">
            <label for="train" class="form-label">Vonatszám</label>
            <input type="text" class="form-control" id="train"   name="train" placeholder="707">
          </div>
          <div class="mb-3">
            <label for="until" class="form-label">Watch until</label>
            <input type="datetime-local" class="form-control" id="until" name="until">
          </div>
          <div class="mb-3">
            <input type="submit" value="Save" role="button" class="btn btn-primary">
          </div>
    </form>
{{end}}
