{{define "title"}}Home{{end}}
{{define "file" }}timetable{{end}}
{{define "headContent"}}{{end}}
{{define "footerContent"}}{{end}}
{{define "main"}}
    <div class="vstack">
        {{range $i,$rec:=.e}}
            <div class="p-2">
                <div class="vstack gap-1">
                    <div class="hstack gap-2">
                        <div><a target="_blank"
                                href="https://www.kapella2.hu/vaganyzar/vaganyzarkarbantarto/megtekintes/{{$rec.VPEHash}}">{{$rec.VPEID}}</a>
                        </div>
                        <div>{{$rec.VPEName}}</div>
                    </div>
                    <div class="hstack gap-2">
                        <div>
                            {{$rec.From|humandate}}
                        </div>
                        <div>
                            {{$rec.Until|humandate}}
                        </div>
                    </div>
                </div>
            </div>
        {{end}}
    </div>
{{end}}