{{define "title"}}Home{{end}}
{{define "file" }}timetable{{end}}
{{define "headContent"}}{{end}}
{{define "footerContent"}}{{end}}
{{define "main"}}
    <div class="vstack">
        {{$date:=.date}}
        {{range $i,$rec:=.r}}
            <div class="p-2">
                <a href="/ed/{{$date}}/{{$rec.UIC}}"> {{$rec.UIC|UIC}} ({{$rec.Count}})</a>
            </div>
        {{end}}
    </div>
{{end}}