{{define "title"}}Home{{end}}
{{define "file" }}timetable{{end}}
{{define "main" }}
    <ul class="list-group">

        {{ range $x, $value := .w }}
            <li class="list-group-item
            {{if (delayInRange $value.HavarianInfok.AktualisKeses 0 2.0)}}
                list-group-item-success
            {{else if (delayInRange $value.HavarianInfok.AktualisKeses 2.0 3.0)}}
                list-group-item-warning
            {{else  if (delayInRange $value.HavarianInfok.AktualisKeses 3.0 999.0)}}
                list-group-item-danger
            {{end}}
">
                <a href="/train/{{$value.TrainID}}" class="text-decoration-none">
                    <div class="d-flex" style="
                            padding: 2px 5px;
                            border-radius: 4px;
                            color: #{{$value.Kind.BackgrouColorCode}};
                            ">
                        <div class="align-items-center d-flex flex-shrink-0 justify-content-center" style="
                                margin: 2px;
                                border-radius: 3px;
                                padding: 5px;
                                margin-right:1ch;
                                width: 4ch;
                        {{if ne $value.ViszonylatiJel.FontSzinKod  ""}}
                            fill: #{{$value.ViszonylatiJel.FontSzinKod}};
                            border: 1px solid #{{$value.ViszonylatiJel.FontSzinKod}};
                            background-color:#{{$value.ViszonylatiJel.HatterSzinKod}}
                        {{else}}
                            fill: #{{$value.Kind.ForegroundColorCode}};
                            border: 1px solid #{{$value.Kind.BackgrouColorCode}};
                            background-color:#{{$value.Kind.BackgrouColorCode}}
                        {{end}}


                                ">
                            <svg style="height: 12px; width:24px; ">
                                <use href="#icon-train-{{$value.FullType|toIconName}}"/>
                            </svg>
                        </div>
                        {{$value.Arrive | loctime}}
                        {{if gt  $value.HavarianInfok.AktualisKeses 0.0}}
                            (+ {{$value.HavarianInfok.AktualisKeses}} perc )
                        {{end}}


                        {{ $value|getTrainName }} ({{$value.StartStation.Name}}  <i class="bi bi-arrow-right"></i> {{$value.EndStation.Name}} )
                    </div>
                </a>
            </li>
        {{ end }}
    </ul>
{{end}}