@font-face {
    font-family: MNR;
    src: url(/public/infrastructure/assets/MNR2007.cd059e2cbf346028f917.woff2) format("woff2");/*,url(MNR2007.21528f4a4c700db52439.woff) format("woff"),url(MNR2007.0282eb1d5e7f8a493bb9.ttf) format("truetype");*/
    font-style: normal
}

.mnr{
    font-family: MNR;
    margin-left: 2px;
    margin-right: 2px;
}