{{template "_base.tmpl" .}}
{{define "title"}}Train info{{end}}

{{define "main" }}
<pre>

</pre>
<h3>{{.info.Train.FullName}} </h3>
<h4>{{.info.Train.StartStation.Name}} -> {{.info.Train.EndStation.Name}}</h4>
<ul class="list-group">

    {{ range $x, $value := .info.Scheduler }}
       <li 
       class="list-group-item"
       > 
       {{$value.Station.Name}}
       </li>
    {{ end }}
</ul>
{{end}}