{{define "title"}}Train info{{end}}

{{define "file" }}traininfo{{end}}

{{define "main" }}

<h3>{{.info.Train.FullName}} </h3>
<h4>{{.info.Train.StartStation.Name}} <i class="bi bi-arrow-right"></i> {{.info.Train.EndStation.Name}}</h4>
{{ if ne .info.Train.HavarianInfok.KesesiOk nil}}
<div class="alert alert-danger" role="alert">
  {{.info.Train.HavarianInfok.KesesiOk}}
</div>
{{end}}
<h5 style="font-family:MNR;">
{{ range $x, $svc := .info.Train.Services}}
    <span title="{{$svc.Description}}" class="mx-2">{{$svc.Sign.Character}}</span>
{{ end }}
</h5>
<ul class="list-group">

    {{ range $x, $value := .info.Scheduler }}
       <li 
       class="list-group-item"
       > 
       {{$value.Station.Name}} 
       {{ if delayInRange (timediffMins $value) 0.0 2.0 }}
       <span class="badge bg-success">{{timediff $value}}</span>
       {{ else if  delayInRange (timediffMins $value) 2.0 5.0  }}
         <span class="badge bg-warning">{{timediff $value}}</span>
        {{ else if  delayInRange (timediffMins $value) 5.0 99.0 }}
         <span class="badge bg-danger">{{timediff $value}}</span>
       {{end}}
       <div class="d-inline float-end">
       {{ range $x, $svc := $value.Services}}
            <span  class="mnr" title="{{$svc.Description}}" class="mx-2">{{$svc.Sign.Character}}</span>
        {{ end }}
       </div>
       </li>
    {{ end }}
</ul>
{{end}}